{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} | DoDo Le Guide{% endblock %}

{% block carousel %}<header></header>{% endblock %}

{% block body %}

<div class="col-md-12 text-center">

    <div class="row">
        <div class="col-md-12" id="haut">
            <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid" id="imgname">
        </div>
        <div class="col-md-12 my-auto">
            <h3 id="titrehaut">{{ product.name }}</h3>
            <small>{{ product.subtitle }}</small>
            <br />
            <section>
                <p class="espace"></p>
            </section>
            <hr id="hr1">
            <p>{{ product.description }}</p>
            <hr id="hr1">
            <span class="product-page-price">{{ (product.price / 100 )|number_format(2, ',', '.') }} €</span><br />

            <a href="{{ path('add_to_cart', { id : product.id } ) }}" class="btn btn-outline-success mt-3">Ajouter au
                panier</a>
        </div>
    </div>

    <section>
        <p class="espace"></p>
    </section>

    <div class="articles my-auto">
        <hr id="hr2">
        <h3 class="mt-3 mb-3">Les articles les plus vendus</h3>
        <hr id="hr3">
        <div class="row">
            {% for product in products %}
            <div class="col-3 col-sm-3">
                {% include 'product/single_product.html.twig' %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<style>
    
    /*MEDIA QUERIES*/

    @media screen and (max-width: 424px) {


        .col-md-12 {
            padding-right: 5px;
            padding-left: 5px;
            margin-bottom: 30px;
        }

        #haut {
            margin-top: 300px;
        }

        #imgname {
            max-width: 200px;
        }

        .articles {
            max-width: 420px;
            padding-left: 10px;
            padding-right: 10px;
            
        }

        .col-3 {
            padding-left: 2px;
            padding-right: 2px;
        }

        h3 {
            font-size: 20px;
        }
         small {
             font-size: 15px;
         }

        p {
            margin-top: 16px;
            font-size: 13px;
        }

        h5 {
            font-size: 13px;
        }

        .product-subtitle {
            font-size: 10px;
        }

        .product-price {
            font-size: 13px;
        }

        #titrehaut {
            font-size: 22px;
            margin-top: 60px;
        }
    
        #hr1 {
            max-width: 250px;
        }
        #hr2 {
            margin-top: 60px;
        }
    }

    @media screen and (min-width: 425px) and (max-width: 767px) {

        .col-md-12 {
            padding-right: 5px;
            padding-left: 5px;
            margin-bottom: 30px;
        }

        #haut {
            margin-top: 300px;
        }

        #imgname {
            max-width: 250px;
        }

        .articles {
            padding-left: 10px;
            padding-right: 10px;
        }

        .col-3 {
            padding-left: 2px;
            padding-right: 2px;
        }

        h3 {
            font-size: 20px;
        }
         small {
             font-size: 15px;
         }

        p {
            margin-top: 16px;
            font-size: 13px;
        }

        h5 {
            font-size: 13px;
        }

        .product-subtitle {
            font-size: 10px;
        }

        .product-price {
            font-size: 13px;
        }

        #titrehaut {
            font-size: 22px;
            margin-top: 60px;
        }
    
        #hr1 {
            max-width: 250px;
        }
        #hr2 {
            margin-top: 60px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {

        .col-md-12 {
            padding-right: 5px;
            padding-left: 5px;
            margin-bottom: 30px;
        }

        #haut {
            margin-top: 380px;
        }

        #imgname {
            max-width: 280px;
        }

        .articles {
            padding-left: 50px;
            padding-right: 50px;
        }

        .col-3 {
            padding-left: 2px;
            padding-right: 2px;
        }

        h3 {
            font-size: 20px;
        }
         small {
             font-size: 15px;
         }

        p {
            margin-top: 16px;
            font-size: 13px;
        }

        h5 {
            font-size: 13px;
        }

        .product-subtitle {
            font-size: 10px;
        }

        .product-price {
            font-size: 13px;
        }

        #titrehaut {
            font-size: 22px;
        }
    
        #hr1 {
            max-width: 250px;
        }
        #hr2 {
            margin-top: 80px;
        }
    }

    @media screen and (min-width: 1024px){
        .col-md-12 {
            padding-right: 5px;
            padding-left: 5px;
            margin-bottom: 30px;
        }

        #haut {
            margin-top: 380px;
        }

        #imgname {
            max-width: 280px;
        }

        .articles {
            padding-left: 50px;
            padding-right: 50px;
        }

        .col-3 {
            padding-left: 2px;
            padding-right: 2px;
        }

        h3 {
            font-size: 20px;
        }
         small {
             font-size: 15px;
         }

        p {
            margin-top: 16px;
            font-size: 13px;
        }

        h5 {
            font-size: 13px;
        }

        .product-subtitle {
            font-size: 10px;
        }

        .product-price {
            font-size: 13px;
        }

        #titrehaut {
            font-size: 22px;
        }
    
        #hr1 {
            max-width: 250px;
        }
        #hr2 {
            margin-top: 80px;
        }
    }
</style>
{% endblock %}