{% extends 'base.html.twig' %} 

{% block title 'Confirmation de commande | ' ~ parent() %} 

{% block carousel %}<header></header>{% endblock %}

{% block body %}


<h1>{{title}}</h1>
<p>
    {{paragraphe}} {{ order.user.firstname }} {{ order.user.lastname }},<br /><br /><hr>
    {{paragraphe1}}{{ order.reference }}.<br /> 
    {{paragraphe2}} {{ order.user.email }}.
    <hr> 
    {{paragraphe3}} {{ order.carrierName }}{{paragraphe4}}<br />
    <hr>
     {{ order.delivery|raw}}
    <hr> 
    {{paragraphe5}}<a href="{{ path('account_order')}}">Compte</a>.
</p>

<style>
    h1 {
        margin-top: 450px;
        margin-bottom: 40px;
        font-size: 45px;
    }
    a {
        color: #0b93e1;
    }
    a:hover {
        color: #569A24;
    }
</style>
{% endblock %}